/* autocomplete.css */

.autocomplete {
    position: relative;
    display: flex !important;
}

.autocomplete input,
.btn-search-nav {
    height: 50px;
    border: none;
}

.autocomplete input {
    background-color: #f1f1f1;
    font-size: 16px;
    width: 65%;
}

.autocomplete input::-webkit-input-placeholder {
    /* WebKit, Blink, Edge */
    font-size: .85em;
}
.autocomplete input:-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    font-size: .85em;
    opacity: 1;
}
.autocomplete input::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    font-size: .85em;
    opacity: 1;
}
.autocomplete input:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    font-size: .85em;
}

@media (min-width: 768px) {
    .autocomplete input::-webkit-input-placeholder {
        /* WebKit, Blink, Edge */
        font-size: .75em;
    }
    .autocomplete input:-moz-placeholder {
        /* Mozilla Firefox 4 to 18 */
        font-size: .75em;
        opacity: 1;
    }
    .autocomplete input::-moz-placeholder {
        /* Mozilla Firefox 19+ */
        font-size: .75em;
        opacity: 1;
    }
    .autocomplete input:-ms-input-placeholder {
        /* Internet Explorer 10-11 */
        font-size: .75em;
    }
}

@media (min-width: 1200px) {
    .autocomplete input::-webkit-input-placeholder {
        /* WebKit, Blink, Edge */
        font-size: .85em;
    }
    .autocomplete input:-moz-placeholder {
        /* Mozilla Firefox 4 to 18 */
        font-size: .85em;
        opacity: 1;
    }
    .autocomplete input::-moz-placeholder {
        /* Mozilla Firefox 19+ */
        font-size: .85em;
        opacity: 1;
    }
    .autocomplete input:-ms-input-placeholder {
        /* Internet Explorer 10-11 */
        font-size: .85em;
    }
}

.btn-search-nav {
    width: 35%;
}

input[type=submit] {
    background-color: DodgerBlue;
    color: #fff;
}
.autocomplete-items {
    position: absolute;
    border: 1px solid #d4d4d4;
    border-bottom: none;
    border-top: none;
    z-index: 99;
    /*position the autocomplete items to be the same width as the container:*/
    top: 100%;
    left: 0;
    right: 0;
}

.autocomplete-items div {
    padding: 10px;
    cursor: pointer;
    background-color: #fff;
    border-bottom: 1px solid #d4d4d4;
}
.autocomplete-items div:hover {
    /*when hovering an item:*/
    background-color: #e9e9e9;
}
.autocomplete-active {
    /*when navigating through the items using the arrow keys:*/
    background-color: DodgerBlue !important;
    color: #ffffff;
}

@media screen and (min-width: 768px) {
    .autocomplete input,
    .btn-search-nav {
        height: 40px;
    }
}

input#wunsch_ausbildung.ui-autocomplete-loading + span,
input#wunsch_beruf.ui-autocomplete-loading + span,
input#q.ui-autocomplete-loading + span {
    display: block;
}