#header {
    background-color: #41668C;
    padding: 3em 0 2.2em 0;
    margin-top: 5em;
}

#header h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 1.7em;
    font-weight: 800;
    color: #FFFFFF;
    text-shadow: 2px 2px 3px rgb(0 0 0 / 30%);
}

@media (min-width: 576px) {
    #header {
        padding: 3.8em 0 2.9em 0;
    }
}

@media (min-width: 768px) {
    #header {
        padding-bottom: 3.5em;
    }
}

@media screen and (min-width: 1200px) {
    #header {
        padding: 4em 0 4em 0;
    }

    #header h1 {
        font-size: 3em;
    }
}

@media screen and (min-width: 1400px) {
    #header {
        padding: 4em 0 5em 0;
    }

    #header h1 {
        font-size: 4em;
    }
}